<%- include("partials/header", { title }) %>
<section>
  <h1><%= heading %></h1>
  <p>
    <a class="cta" href="/edit-category/<%= category.category_id %>">Edit Category</a>
  </p>

  <% if (projects.length === 0) { %>
    <p>No service projects are currently listed in this category.</p>
  <% } else { %>
    <ul class="item-list">
      <% projects.forEach((project) => { %>
        <li>
          <a href="/project/<%= project.project_id %>"><%= project.title %></a>
          (<%= new Date(project.project_date).toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          }) %>)
        </li>
      <% }) %>
    </ul>
  <% } %>
</section>
<%- include("partials/footer") %>
