<%- include("partials/header", { title }) %>
<section>
  <h1><%= heading %></h1>
  <p><%= description %></p>
  <ul class="item-list categories">
    <% items.forEach((category) => { %>
      <li>
        <a href="/category/<%= category.category_id %>"><%= category.category_name %></a>
      </li>
    <% }) %>
  </ul>
</section>
<%- include("partials/footer") %>
