<%- include("partials/header", { title }) %>
<section>
  <h1><%= heading %></h1>
  <p><%= description %></p>
  <ul class="item-list">
    <% items.forEach((organization) => { %>
      <li>
        <a href="/organization/<%= organization.organization_id %>">
          <%= organization.organization_name %>
        </a>
      </li>
    <% }) %>
  </ul>
  <p><a class="cta" href="/new-organization">Add a new organization</a></p>
</section>
<%- include("partials/footer") %>
